* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 200px;
}

header img {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #eaf9faa1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.admin {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #a5bcbe;
    box-shadow: 5px 5px 20px 0px #150e289a;

    gap: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 3rem;

}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #adcbae;
    color: blac;
}

.description {
    width: 30%;
    color: red;
    font-size: 15px;
}

.ingredients {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.product {
    width: 300px;
    height: 450px;
    padding: 25px;
    border: none;
    /* border: 2px solid #483a7672; */
    box-shadow: 10px 15px 20px 0px #150e289a;

}

.product-price {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.product-name {
    margin-bottom: 15px;
    font-size: 30px;
}

.product-ingridient {
    margin-top: 15px;

}

.product-description {
    font-style: italic;
    color: rgb(38, 38, 177);

}

.product-image {
    width: 100%;
}

.ingrident {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 2rem;
}

.input1 {
    width: 50px;
}

.left-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}